<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BFG Test Task</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
{#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="{{request.static_url('bfg:static/styles.css')}}" rel="stylesheet">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light">
  <!--<a class="navbar-brand text-white" href="https://priceradar.org">-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link h5" href="/"><i class="fas fa-search-plus"></i> Новый запрос </a>
        </li>

        <li class="nav-item">
          <a class="nav-link h5" href="/show_requests/1/25/desc"><i class="fas fa-hdd"></i> Сохраненные запросы </a>
        </li>
      </ul>
  </div>
</nav>


{% block new_request %}     {% endblock %}
{% block process_request %} {% endblock %}
{% block saved_request %}   {% endblock %}
{% block request_results %}   {% endblock %}

<script>
    var socket = new WebSocket("ws://159.69.16.1:8888/");
    var base_url = 'http://159.69.16.1:8080';
    socket.onmessage = function(e) {
        console.log(e.data);
        message_dict = JSON.parse(e.data);
        if (message_dict['new_results'] > 0) {
            $('#refreshing').hide();
            request_titles = JSON.parse(message_dict['results_dict']);
            request_titles_html = '';
            $.each( request_titles, function( key, value ) {
                request_titles_html += '<a href="/request_results/' + value + '/1/25/desc">' + key + '</a> ';
            });
            $('#refreshing').html('<h5>'+message_dict['ts']+': получено '+message_dict['new_results']+' новых результатов поиска на темы: ' + request_titles_html + ' </h5>');
            $('#refreshing').fadeIn(2000);
        } else {
            $('#refreshing').fadeOut(3000);
        }

    };

    periodical_request = setInterval(function() {
        console.log('Refreshing information');
        socket.send('refresh_results');
        $('#refreshing').html('<h5> <i class="fas fa-spinner fa-spin fa-fw" aria-hidden="true" ></i>Обновляем результаты поиска</h5>');
        $('#refreshing').fadeIn(1000);
    }, 30000);
</script>


</body>
</html>