{% extends "index.jinja2" %}
{%  block new_request %}

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <div id="search_block" style="margin-top: 100px">
                <form action="/process_request" method="post">
                    <div class="input-group mb-3">
                      <input class="form-control" placeholder="Ваш запрос на Stack Exchange" name="title">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary" type="button">Search</button>
                      </div>
                    </div>
                </form>
                <div id="refreshing" style="display: none">

                </div>
            </div>
        </div>
    </div>
</div>

{%  endblock %}


