{% extends "index.jinja2" %}
{%  block process_request %}


    <div class="container">
        <div class="row">
            <div class="col text-center">
                {% if saved %}
                    <h3>Ваш запрос был сохранен</h3>
                {%  else %}
                    <h3>Ошибка выполнения запроса</h3>
                {%  endif %}

            </div>
        </div>
    </div>


{%  endblock %}