{% extends "index.jinja2" %}
{%  block request_results %}


    <div class="container">
        <div class="row" style="margin-top: 100px">
            <div class="col">
                <h3 class="text-center">Запросы на тему "{{ request_title }}" (всего {{ results_count }})</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h5>Страница:
                    {% for page in page_list %}
                        <a class="btn btn-sm btn-outline-primary {%  if page == cur_page %} active {% endif %}" href="/request_results/{{ request_id }}/{{ page }}/{{ cur_rows }}/{{ cur_sort }}">{{ page }}</a>
                    {% endfor %}
                </h5>
            </div>
            <div class="col-4 text-center">
                <div id="refreshing" style="display: none">

                </div>
            </div>
            <div class="col-4">
                <h5 class="text-right">Отображать по:
{#                    {%  for rows in [25, 50, 100] %}#}
                    {%  for rows in row_variants %}
                        <a class="btn btn-sm btn-outline-primary {%  if rows == cur_rows %} active {% endif %}" href="/request_results/{{ request_id }}/1/{{ rows }}/{{ cur_sort }}">{{ rows }}</a>
                    {%  endfor %}
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <table class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <td style="width: 20%">Дата/время запроса
                                {% if cur_sort == 'asc' %}
                                    <a class="text-dark" href="/request_results/{{ request_id }}/{{ cur_page }}/{{ cur_rows }}/desc"><i class="fas fa-arrow-down"></i></a>
                                {% elif cur_sort == 'desc' %}
                                    <a class="text-dark" href="/request_results/{{ request_id }}/{{ cur_page }}/{{ cur_rows }}/asc"><i class="fas fa-arrow-up"></i></a>
                                {% endif %}
                            </td>
                            <td>Запрос</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for req in request_results %}
                            <tr>
                                <td>{{ req.ts.strftime('%Y-%m-%d %H:%M')  }}</td>
                                <td class="text-left" style="overflow: hidden">{{ req.title|safe }}</td>
                            </tr>
                        {%  endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>


{%  endblock %}